<%if(locals.list){%>
    <%list.forEach(function(item){%>
        <%if(item.type == 2){%>
           <a class="youlike-wrapper" href="<%= item.url %>">
                <div class="imgwrapper">
                    <img src="<%= item.img %>">
                    <div class="time"><%= item.durition %></div>
                </div>
                <div class="des">
                    <p><%= item.tittle%></p>
                </div>
            </a> 
        <%}%>
    <%})%>
<%}%>